@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --base-bold-font-family: "Inter", Helvetica;
  --base-bold-font-size: 16px;
  --base-bold-font-style: normal;
  --base-bold-font-weight: 700;
  --base-bold-letter-spacing: 0px;
  --base-bold-line-height: 120.00000476837158%;
  --base-regular-font-family: "Inter", Helvetica;
  --base-regular-font-size: 16px;
  --base-regular-font-style: normal;
  --base-regular-font-weight: 400;
  --base-regular-letter-spacing: 0px;
  --base-regular-line-height: 120.00000476837158%;
  --h1-bold-font-family: "Inter", Helvetica;
  --h1-bold-font-size: 24px;
  --h1-bold-font-style: normal;
  --h1-bold-font-weight: 700;
  --h1-bold-letter-spacing: 0px;
  --h1-bold-line-height: 120.00000476837158%;
  --h1-regular-font-family: "Inter", Helvetica;
  --h1-regular-font-size: 24px;
  --h1-regular-font-style: normal;
  --h1-regular-font-weight: 400;
  --h1-regular-letter-spacing: 0px;
  --h1-regular-line-height: 120.00000476837158%;
  --h2-bold-font-family: "Inter", Helvetica;
  --h2-bold-font-size: 20px;
  --h2-bold-font-style: normal;
  --h2-bold-font-weight: 700;
  --h2-bold-letter-spacing: 0px;
  --h2-bold-line-height: 120.00000476837158%;
  --h2-regular-font-family: "Inter", Helvetica;
  --h2-regular-font-size: 20px;
  --h2-regular-font-style: normal;
  --h2-regular-font-weight: 400;
  --h2-regular-letter-spacing: 0px;
  --h2-regular-line-height: 120.00000476837158%;
  --base-base-black: rgba(9, 29, 59, 1);
  --base-base-white: rgba(255, 255, 255, 1);
  --desktop-body-caption-accent-font-family: "SF Pro Display", Helvetica;
  --desktop-body-caption-accent-font-size: 14px;
  --desktop-body-caption-accent-font-style: normal;
  --desktop-body-caption-accent-font-weight: 400;
  --desktop-body-caption-accent-letter-spacing: 0px;
  --desktop-body-caption-accent-line-height: 120.00000476837158%;
  --desktop-body-caption-bold-font-family: "SF Pro Display", Helvetica;
  --desktop-body-caption-bold-font-size: 14px;
  --desktop-body-caption-bold-font-style: normal;
  --desktop-body-caption-bold-font-weight: 700;
  --desktop-body-caption-bold-letter-spacing: 0px;
  --desktop-body-caption-bold-line-height: 120.00000476837158%;
  --desktop-body-caption-emphasis-font-family: "SF Pro Display", Helvetica;
  --desktop-body-caption-emphasis-font-size: 14px;
  --desktop-body-caption-emphasis-font-style: normal;
  --desktop-body-caption-emphasis-font-weight: 500;
  --desktop-body-caption-emphasis-letter-spacing: 0px;
  --desktop-body-caption-emphasis-line-height: 120.00000476837158%;
  --desktop-body-caption-regular-font-family: "SF Pro Display", Helvetica;
  --desktop-body-caption-regular-font-size: 14px;
  --desktop-body-caption-regular-font-style: normal;
  --desktop-body-caption-regular-font-weight: 400;
  --desktop-body-caption-regular-letter-spacing: 0px;
  --desktop-body-caption-regular-line-height: 120.00000476837158%;
  --desktop-body-content-accent-font-family: "SF Pro Display", Helvetica;
  --desktop-body-content-accent-font-size: 16px;
  --desktop-body-content-accent-font-style: normal;
  --desktop-body-content-accent-font-weight: 400;
  --desktop-body-content-accent-letter-spacing: 0px;
  --desktop-body-content-accent-line-height: 120.00000476837158%;
  --desktop-body-content-bold-font-family: "SF Pro Display", Helvetica;
  --desktop-body-content-bold-font-size: 16px;
  --desktop-body-content-bold-font-style: normal;
  --desktop-body-content-bold-font-weight: 700;
  --desktop-body-content-bold-letter-spacing: 0px;
  --desktop-body-content-bold-line-height: 120.00000476837158%;
  --desktop-body-content-emphasis-font-family: "SF Pro Display", Helvetica;
  --desktop-body-content-emphasis-font-size: 16px;
  --desktop-body-content-emphasis-font-style: normal;
  --desktop-body-content-emphasis-font-weight: 500;
  --desktop-body-content-emphasis-letter-spacing: 0px;
  --desktop-body-content-emphasis-line-height: 120.00000476837158%;
  --desktop-body-content-regular-font-family: "SF Pro Display", Helvetica;
  --desktop-body-content-regular-font-size: 16px;
  --desktop-body-content-regular-font-style: normal;
  --desktop-body-content-regular-font-weight: 400;
  --desktop-body-content-regular-letter-spacing: 0px;
  --desktop-body-content-regular-line-height: 120.00000476837158%;
  --desktop-body-feature-accent-font-family: "SF Pro Display", Helvetica;
  --desktop-body-feature-accent-font-size: 24px;
  --desktop-body-feature-accent-font-style: normal;
  --desktop-body-feature-accent-font-weight: 400;
  --desktop-body-feature-accent-letter-spacing: 0px;
  --desktop-body-feature-accent-line-height: 120.00000476837158%;
  --desktop-body-feature-bold-font-family: "SF Pro Display", Helvetica;
  --desktop-body-feature-bold-font-size: 24px;
  --desktop-body-feature-bold-font-style: normal;
  --desktop-body-feature-bold-font-weight: 700;
  --desktop-body-feature-bold-letter-spacing: 0px;
  --desktop-body-feature-bold-line-height: 120.00000476837158%;
  --desktop-body-feature-emphasis-font-family: "SF Pro Display", Helvetica;
  --desktop-body-feature-emphasis-font-size: 24px;
  --desktop-body-feature-emphasis-font-style: normal;
  --desktop-body-feature-emphasis-font-weight: 500;
  --desktop-body-feature-emphasis-letter-spacing: 0px;
  --desktop-body-feature-emphasis-line-height: 120.00000476837158%;
  --desktop-body-feature-standard-font-family: "SF Pro Display", Helvetica;
  --desktop-body-feature-standard-font-size: 24px;
  --desktop-body-feature-standard-font-style: normal;
  --desktop-body-feature-standard-font-weight: 400;
  --desktop-body-feature-standard-letter-spacing: 0px;
  --desktop-body-feature-standard-line-height: 120.00000476837158%;
  --desktop-body-hero-accent-font-family: "SF Pro Display", Helvetica;
  --desktop-body-hero-accent-font-size: 28px;
  --desktop-body-hero-accent-font-style: normal;
  --desktop-body-hero-accent-font-weight: 400;
  --desktop-body-hero-accent-letter-spacing: 0px;
  --desktop-body-hero-accent-line-height: 120.00000476837158%;
  --desktop-body-hero-bold-font-family: "SF Pro Display", Helvetica;
  --desktop-body-hero-bold-font-size: 28px;
  --desktop-body-hero-bold-font-style: normal;
  --desktop-body-hero-bold-font-weight: 700;
  --desktop-body-hero-bold-letter-spacing: 0px;
  --desktop-body-hero-bold-line-height: 120.00000476837158%;
  --desktop-body-hero-emphasis-font-family: "SF Pro Display", Helvetica;
  --desktop-body-hero-emphasis-font-size: 28px;
  --desktop-body-hero-emphasis-font-style: normal;
  --desktop-body-hero-emphasis-font-weight: 500;
  --desktop-body-hero-emphasis-letter-spacing: 0px;
  --desktop-body-hero-emphasis-line-height: 120.00000476837158%;
  --desktop-body-hero-standard-font-family: "SF Pro Display", Helvetica;
  --desktop-body-hero-standard-font-size: 28px;
  --desktop-body-hero-standard-font-style: normal;
  --desktop-body-hero-standard-font-weight: 400;
  --desktop-body-hero-standard-letter-spacing: 0px;
  --desktop-body-hero-standard-line-height: 120.00000476837158%;
  --desktop-body-highlight-accent-font-family: "SF Pro Display", Helvetica;
  --desktop-body-highlight-accent-font-size: 18px;
  --desktop-body-highlight-accent-font-style: normal;
  --desktop-body-highlight-accent-font-weight: 400;
  --desktop-body-highlight-accent-letter-spacing: 0px;
  --desktop-body-highlight-accent-line-height: 120.00000476837158%;
  --desktop-body-highlight-bold-font-family: "SF Pro Display", Helvetica;
  --desktop-body-highlight-bold-font-size: 18px;
  --desktop-body-highlight-bold-font-style: normal;
  --desktop-body-highlight-bold-font-weight: 700;
  --desktop-body-highlight-bold-letter-spacing: 0px;
  --desktop-body-highlight-bold-line-height: 120.00000476837158%;
  --desktop-body-highlight-emphasis-font-family: "SF Pro Display", Helvetica;
  --desktop-body-highlight-emphasis-font-size: 18px;
  --desktop-body-highlight-emphasis-font-style: normal;
  --desktop-body-highlight-emphasis-font-weight: 500;
  --desktop-body-highlight-emphasis-letter-spacing: 0px;
  --desktop-body-highlight-emphasis-line-height: 120.00000476837158%;
  --desktop-body-highlight-standard-font-family: "SF Pro Display", Helvetica;
  --desktop-body-highlight-standard-font-size: 18px;
  --desktop-body-highlight-standard-font-style: normal;
  --desktop-body-highlight-standard-font-weight: 400;
  --desktop-body-highlight-standard-letter-spacing: 0px;
  --desktop-body-highlight-standard-line-height: 120.00000476837158%;
  --desktop-headings-display-1-font-family: "SF Pro Rounded", Helvetica;
  --desktop-headings-display-1-font-size: 144px;
  --desktop-headings-display-1-font-style: normal;
  --desktop-headings-display-1-font-weight: 700;
  --desktop-headings-display-1-letter-spacing: 0px;
  --desktop-headings-display-1-line-height: 120.00000476837158%;
  --desktop-headings-display-2-font-family: "SF Pro Rounded", Helvetica;
  --desktop-headings-display-2-font-size: 96px;
  --desktop-headings-display-2-font-style: normal;
  --desktop-headings-display-2-font-weight: 700;
  --desktop-headings-display-2-letter-spacing: 0px;
  --desktop-headings-display-2-line-height: 120.00000476837158%;
  --desktop-headings-display-3-font-family: "SF Pro Rounded", Helvetica;
  --desktop-headings-display-3-font-size: 64px;
  --desktop-headings-display-3-font-style: normal;
  --desktop-headings-display-3-font-weight: 700;
  --desktop-headings-display-3-letter-spacing: 0px;
  --desktop-headings-display-3-line-height: 120.00000476837158%;
  --desktop-headings-heading-1-font-family: "SF Pro Display", Helvetica;
  --desktop-headings-heading-1-font-size: 56px;
  --desktop-headings-heading-1-font-style: normal;
  --desktop-headings-heading-1-font-weight: 700;
  --desktop-headings-heading-1-letter-spacing: 0px;
  --desktop-headings-heading-1-line-height: 120.00000476837158%;
  --desktop-headings-heading-2-font-family: "SF Pro Display", Helvetica;
  --desktop-headings-heading-2-font-size: 48px;
  --desktop-headings-heading-2-font-style: normal;
  --desktop-headings-heading-2-font-weight: 700;
  --desktop-headings-heading-2-letter-spacing: 0px;
  --desktop-headings-heading-2-line-height: 120.00000476837158%;
  --desktop-headings-heading-3-font-family: "SF Pro Display", Helvetica;
  --desktop-headings-heading-3-font-size: 40px;
  --desktop-headings-heading-3-font-style: normal;
  --desktop-headings-heading-3-font-weight: 700;
  --desktop-headings-heading-3-letter-spacing: 0px;
  --desktop-headings-heading-3-line-height: 120.00000476837158%;
  --desktop-headings-heading-4-font-family: "SF Pro Display", Helvetica;
  --desktop-headings-heading-4-font-size: 32px;
  --desktop-headings-heading-4-font-style: normal;
  --desktop-headings-heading-4-font-weight: 700;
  --desktop-headings-heading-4-letter-spacing: 0px;
  --desktop-headings-heading-4-line-height: 120.00000476837158%;
  --error-error: rgba(255, 60, 53, 1);
  --error-error100: rgba(255, 216, 215, 1);
  --error-error1000: rgba(96, 3, 0, 1);
  --error-error200: rgba(255, 177, 174, 1);
  --error-error300: rgba(255, 138, 134, 1);
  --error-error400: rgba(255, 99, 93, 1);
  --error-error500: rgba(255, 26, 18, 1);
  --error-error600: rgba(237, 8, 0, 1);
  --error-error700: rgba(202, 7, 0, 1);
  --error-error800: rgba(167, 6, 0, 1);
  --error-error900: rgba(131, 5, 0, 1);
  --info-info: rgba(0, 191, 255, 1);
  --info-info100: rgba(219, 246, 255, 1);
  --info-info1000: rgba(0, 76, 102, 1);
  --info-info200: rgba(182, 237, 255, 1);
  --info-info300: rgba(146, 228, 255, 1);
  --info-info400: rgba(109, 218, 255, 1);
  --info-info500: rgba(73, 209, 255, 1);
  --info-info600: rgba(36, 200, 255, 1);
  --info-info700: rgba(0, 162, 217, 1);
  --info-info800: rgba(0, 134, 179, 1);
  --info-info900: rgba(0, 105, 140, 1);
  --mobile-body-caption-accent-font-family: "SF Pro Display", Helvetica;
  --mobile-body-caption-accent-font-size: 12px;
  --mobile-body-caption-accent-font-style: normal;
  --mobile-body-caption-accent-font-weight: 400;
  --mobile-body-caption-accent-letter-spacing: 0px;
  --mobile-body-caption-accent-line-height: 120.00000476837158%;
  --mobile-body-caption-emphasis-font-family: "SF Pro Display", Helvetica;
  --mobile-body-caption-emphasis-font-size: 12px;
  --mobile-body-caption-emphasis-font-style: normal;
  --mobile-body-caption-emphasis-font-weight: 500;
  --mobile-body-caption-emphasis-letter-spacing: 0px;
  --mobile-body-caption-emphasis-line-height: 120.00000476837158%;
  --mobile-body-caption-regular-font-family: "SF Pro Display", Helvetica;
  --mobile-body-caption-regular-font-size: 12px;
  --mobile-body-caption-regular-font-style: normal;
  --mobile-body-caption-regular-font-weight: 400;
  --mobile-body-caption-regular-letter-spacing: 0px;
  --mobile-body-caption-regular-line-height: 120.00000476837158%;
  --mobile-body-content-accent-font-family: "SF Pro Display", Helvetica;
  --mobile-body-content-accent-font-size: 14px;
  --mobile-body-content-accent-font-style: normal;
  --mobile-body-content-accent-font-weight: 400;
  --mobile-body-content-accent-letter-spacing: 0px;
  --mobile-body-content-accent-line-height: 120.00000476837158%;
  --mobile-body-content-bold-font-family: "SF Pro Display", Helvetica;
  --mobile-body-content-bold-font-size: 14px;
  --mobile-body-content-bold-font-style: normal;
  --mobile-body-content-bold-font-weight: 700;
  --mobile-body-content-bold-letter-spacing: 0px;
  --mobile-body-content-bold-line-height: 120.00000476837158%;
  --mobile-body-content-emphasis-font-family: "SF Pro Display", Helvetica;
  --mobile-body-content-emphasis-font-size: 14px;
  --mobile-body-content-emphasis-font-style: normal;
  --mobile-body-content-emphasis-font-weight: 500;
  --mobile-body-content-emphasis-letter-spacing: 0px;
  --mobile-body-content-emphasis-line-height: 120.00000476837158%;
  --mobile-body-content-regular-font-family: "SF Pro Display", Helvetica;
  --mobile-body-content-regular-font-size: 14px;
  --mobile-body-content-regular-font-style: normal;
  --mobile-body-content-regular-font-weight: 400;
  --mobile-body-content-regular-letter-spacing: 0px;
  --mobile-body-content-regular-line-height: 120.00000476837158%;
  --mobile-body-feature-accent-font-family: "SF Pro Display", Helvetica;
  --mobile-body-feature-accent-font-size: 18px;
  --mobile-body-feature-accent-font-style: normal;
  --mobile-body-feature-accent-font-weight: 400;
  --mobile-body-feature-accent-letter-spacing: 0px;
  --mobile-body-feature-accent-line-height: 120.00000476837158%;
  --mobile-body-feature-bold-font-family: "SF Pro Display", Helvetica;
  --mobile-body-feature-bold-font-size: 18px;
  --mobile-body-feature-bold-font-style: normal;
  --mobile-body-feature-bold-font-weight: 700;
  --mobile-body-feature-bold-letter-spacing: 0px;
  --mobile-body-feature-bold-line-height: 120.00000476837158%;
  --mobile-body-feature-emphasis-font-family: "SF Pro Display", Helvetica;
  --mobile-body-feature-emphasis-font-size: 18px;
  --mobile-body-feature-emphasis-font-style: normal;
  --mobile-body-feature-emphasis-font-weight: 500;
  --mobile-body-feature-emphasis-letter-spacing: 0px;
  --mobile-body-feature-emphasis-line-height: 120.00000476837158%;
  --mobile-body-feature-standard-font-family: "SF Pro Display", Helvetica;
  --mobile-body-feature-standard-font-size: 18px;
  --mobile-body-feature-standard-font-style: normal;
  --mobile-body-feature-standard-font-weight: 400;
  --mobile-body-feature-standard-letter-spacing: 0px;
  --mobile-body-feature-standard-line-height: 120.00000476837158%;
  --mobile-body-footnote-accent-font-family: "SF Pro Display", Helvetica;
  --mobile-body-footnote-accent-font-size: 10px;
  --mobile-body-footnote-accent-font-style: normal;
  --mobile-body-footnote-accent-font-weight: 400;
  --mobile-body-footnote-accent-letter-spacing: 0px;
  --mobile-body-footnote-accent-line-height: 120.00000476837158%;
  --mobile-body-footnote-emphasis-font-family: "SF Pro Display", Helvetica;
  --mobile-body-footnote-emphasis-font-size: 10px;
  --mobile-body-footnote-emphasis-font-style: normal;
  --mobile-body-footnote-emphasis-font-weight: 500;
  --mobile-body-footnote-emphasis-letter-spacing: 0px;
  --mobile-body-footnote-emphasis-line-height: 120.00000476837158%;
  --mobile-body-footnote-regular-font-family: "SF Pro Display", Helvetica;
  --mobile-body-footnote-regular-font-size: 10px;
  --mobile-body-footnote-regular-font-style: normal;
  --mobile-body-footnote-regular-font-weight: 400;
  --mobile-body-footnote-regular-letter-spacing: 0px;
  --mobile-body-footnote-regular-line-height: 120.00000476837158%;
  --mobile-body-highlight-accent-font-family: "SF Pro Display", Helvetica;
  --mobile-body-highlight-accent-font-size: 16px;
  --mobile-body-highlight-accent-font-style: normal;
  --mobile-body-highlight-accent-font-weight: 400;
  --mobile-body-highlight-accent-letter-spacing: 0px;
  --mobile-body-highlight-accent-line-height: 120.00000476837158%;
  --mobile-body-highlight-bold-font-family: "SF Pro Display", Helvetica;
  --mobile-body-highlight-bold-font-size: 16px;
  --mobile-body-highlight-bold-font-style: normal;
  --mobile-body-highlight-bold-font-weight: 700;
  --mobile-body-highlight-bold-letter-spacing: 0px;
  --mobile-body-highlight-bold-line-height: 120.00000476837158%;
  --mobile-body-highlight-emphasis-font-family: "SF Pro Display", Helvetica;
  --mobile-body-highlight-emphasis-font-size: 16px;
  --mobile-body-highlight-emphasis-font-style: normal;
  --mobile-body-highlight-emphasis-font-weight: 500;
  --mobile-body-highlight-emphasis-letter-spacing: 0px;
  --mobile-body-highlight-emphasis-line-height: 120.00000476837158%;
  --mobile-body-highlight-standard-font-family: "SF Pro Display", Helvetica;
  --mobile-body-highlight-standard-font-size: 16px;
  --mobile-body-highlight-standard-font-style: normal;
  --mobile-body-highlight-standard-font-weight: 400;
  --mobile-body-highlight-standard-letter-spacing: 0px;
  --mobile-body-highlight-standard-line-height: 120.00000476837158%;
  --mobile-headings-display-1-font-family: "SF Pro Rounded", Helvetica;
  --mobile-headings-display-1-font-size: 44px;
  --mobile-headings-display-1-font-style: normal;
  --mobile-headings-display-1-font-weight: 700;
  --mobile-headings-display-1-letter-spacing: 0px;
  --mobile-headings-display-1-line-height: 120.00000476837158%;
  --mobile-headings-display-2-font-family: "SF Pro Rounded", Helvetica;
  --mobile-headings-display-2-font-size: 40px;
  --mobile-headings-display-2-font-style: normal;
  --mobile-headings-display-2-font-weight: 700;
  --mobile-headings-display-2-letter-spacing: 0px;
  --mobile-headings-display-2-line-height: 120.00000476837158%;
  --mobile-headings-display-3-font-family: "SF Pro Rounded", Helvetica;
  --mobile-headings-display-3-font-size: 32px;
  --mobile-headings-display-3-font-style: normal;
  --mobile-headings-display-3-font-weight: 700;
  --mobile-headings-display-3-letter-spacing: 0px;
  --mobile-headings-display-3-line-height: 120.00000476837158%;
  --mobile-headings-heading-1-font-family: "SF Pro Display", Helvetica;
  --mobile-headings-heading-1-font-size: 28px;
  --mobile-headings-heading-1-font-style: normal;
  --mobile-headings-heading-1-font-weight: 700;
  --mobile-headings-heading-1-letter-spacing: 0px;
  --mobile-headings-heading-1-line-height: 120.00000476837158%;
  --mobile-headings-heading-2-font-family: "SF Pro Display", Helvetica;
  --mobile-headings-heading-2-font-size: 24px;
  --mobile-headings-heading-2-font-style: normal;
  --mobile-headings-heading-2-font-weight: 700;
  --mobile-headings-heading-2-letter-spacing: 0px;
  --mobile-headings-heading-2-line-height: 120.00000476837158%;
  --mobile-headings-heading-3-font-family: "SF Pro Display", Helvetica;
  --mobile-headings-heading-3-font-size: 20px;
  --mobile-headings-heading-3-font-style: normal;
  --mobile-headings-heading-3-font-weight: 700;
  --mobile-headings-heading-3-letter-spacing: 0px;
  --mobile-headings-heading-3-line-height: 120.00000476837158%;
  --mobile-headings-heading-4-font-family: "SF Pro Display", Helvetica;
  --mobile-headings-heading-4-font-size: 18px;
  --mobile-headings-heading-4-font-style: normal;
  --mobile-headings-heading-4-font-weight: 700;
  --mobile-headings-heading-4-letter-spacing: 0px;
  --mobile-headings-heading-4-line-height: 120.00000476837158%;
  --neutrals-base-black: rgba(9, 29, 59, 1);
  --neutrals-base-white: rgba(255, 255, 255, 1);
  --neutrals-neutrals100: rgba(228, 229, 231, 1);
  --neutrals-neutrals1000: rgba(16, 6, 30, 1);
  --neutrals-neutrals200: rgba(207, 207, 207, 1);
  --neutrals-neutrals300: rgba(186, 186, 186, 1);
  --neutrals-neutrals400: rgba(150, 150, 150, 1);
  --neutrals-neutrals500: rgba(148, 148, 148, 1);
  --neutrals-neutrals600: rgba(97, 97, 97, 1);
  --neutrals-neutrals700: rgba(69, 69, 69, 1);
  --neutrals-neutrals800: rgba(41, 41, 41, 1);
  --neutrals-neutrals900: rgba(46, 12, 31, 1);
  --primary-primary: rgba(97, 136, 255, 1);
  --primary-primary100: rgba(223, 231, 255, 1);
  --primary-primary1000: rgba(0, 26, 107, 1);
  --primary-primary200: rgba(192, 207, 255, 1);
  --primary-primary300: rgba(160, 184, 255, 1);
  --primary-primary400: rgba(129, 160, 255, 1);
  --primary-primary500: rgba(56, 105, 255, 1);
  --primary-primary600: rgba(15, 75, 255, 1);
  --primary-primary700: rgba(0, 57, 230, 1);
  --primary-primary800: rgba(0, 47, 189, 1);
  --primary-primary900: rgba(0, 37, 148, 1);
  --radius-lg: 24px;
  --radius-m: 10px;
  --radius-ml: 16px;
  --radius-round: 999px;
  --radius-s: 4px;
  --radius-sharp: 0px;
  --radius-sm: 6px;
  --radius-xl: 36px;
  --radius-xs: 2px;
  --radius-xxs: 2px;
  --secondary-secondary: rgba(74, 90, 102, 1);
  --secondary-secondary100: rgba(231, 235, 237, 1);
  --secondary-secondary1000: rgba(36, 44, 50, 1);
  --secondary-secondary200: rgba(207, 214, 220, 1);
  --secondary-secondary300: rgba(182, 194, 202, 1);
  --secondary-secondary400: rgba(158, 173, 185, 1);
  --secondary-secondary500: rgba(134, 153, 167, 1);
  --secondary-secondary600: rgba(110, 133, 150, 1);
  --secondary-secondary700: rgba(92, 111, 126, 1);
  --secondary-secondary800: rgba(61, 75, 85, 1);
  --secondary-secondary900: rgba(49, 59, 67, 1);
  --shadow: 0px 0px 20px 0px rgba(56, 63, 242, 0.4);
  --spacing-base: 16px;
  --spacing-l: 28px;
  --spacing-m: 14px;
  --spacing-ml: 20px;
  --spacing-s: 6px;
  --spacing-sm: 10px;
  --spacing-xl: 40px;
  --spacing-xs: 4px;
  --spacing-xxs: 2px;
  --success-success: rgba(97, 198, 53, 1);
  --success-success100: rgba(232, 247, 226, 1);
  --success-success1000: rgba(39, 79, 21, 1);
  --success-success200: rgba(210, 239, 197, 1);
  --success-success300: rgba(187, 232, 167, 1);
  --success-success400: rgba(164, 224, 138, 1);
  --success-success500: rgba(141, 216, 109, 1);
  --success-success600: rgba(119, 208, 80, 1);
  --success-success700: rgba(82, 168, 45, 1);
  --success-success800: rgba(68, 139, 37, 1);
  --success-success900: rgba(53, 109, 29, 1);
  --warning-warning: rgba(255, 167, 5, 1);
  --warning-warning100: rgba(255, 240, 213, 1);
  --warning-warning1000: rgba(92, 60, 0, 1);
  --warning-warning200: rgba(255, 226, 172, 1);
  --warning-warning300: rgba(255, 211, 130, 1);
  --warning-warning400: rgba(255, 196, 88, 1);
  --warning-warning500: rgba(255, 182, 47, 1);
  --warning-warning600: rgba(227, 147, 0, 1);
  --warning-warning700: rgba(193, 125, 0, 1);
  --warning-warning800: rgba(160, 103, 0, 1);
  --warning-warning900: rgba(126, 82, 0, 1);
  --script-bold-font-family: "Inter", Helvetica;
  --script-bold-font-size: 12px;
  --script-bold-font-style: normal;
  --script-bold-font-weight: 700;
  --script-bold-letter-spacing: 0px;
  --script-bold-line-height: 120.00000476837158%;
  --script-regular-font-family: "Inter", Helvetica;
  --script-regular-font-size: 12px;
  --script-regular-font-style: normal;
  --script-regular-font-weight: 400;
  --script-regular-letter-spacing: 0px;
  --script-regular-line-height: 120.00000476837158%;
  --sub-script-bold-font-family: "Inter", Helvetica;
  --sub-script-bold-font-size: 10px;
  --sub-script-bold-font-style: normal;
  --sub-script-bold-font-weight: 700;
  --sub-script-bold-letter-spacing: 0px;
  --sub-script-bold-line-height: 120.00000476837158%;
  --sub-script-regular-font-family: "Inter", Helvetica;
  --sub-script-regular-font-size: 10px;
  --sub-script-regular-font-style: normal;
  --sub-script-regular-font-weight: 400;
  --sub-script-regular-letter-spacing: 0px;
  --sub-script-regular-line-height: 120.00000476837158%;
}
